<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accueil</title>
</head>
<body>
<h1>Bienvenue</h1>

<div th:if="${username != null}">
    <p>Connecté en tant que : <span th:text="${username}"></span></p>
    <a href="/tasks">Voir mes tâches</a><br><br>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Se déconnecter</button>
    </form>
</div>

<div th:if="${username == null}">
    <a href="/login">Se connecter avec GitHub</a>
</div>
</body>
</html>